<h1>Ingredients</h1>

<% @ingredient_count.each_with_index do |ingredient_count, idx| %>
    <div id="ingredient-<%=idx%>">
        <%=ingredient_count[0]%>: <%= count[1]%>
    </div>
    <br>
<% end %>